@import "home.css";
@import "product.css";
@import "pricing.css";
@import "contact.css";
@import "about us.css";
@import "blog.css";
@import "blog-single.css";
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
    body{
        @apply text-primary;
    }
    .l-navigation{
        @apply flex items-center px-16 py-2;
    }
    .logo, .newsletter__logo{
        @apply font-bold text-2xl w-1/2 ; 
    }
    .newsletter__logo{
        @apply text-white mb-6;
    }
    .nav-bar{
        @apply flex flex-grow items-center;
    }
    .nav-bar__link{
        @apply text-primary px-4 whitespace-nowrap hover:bg-gray-300 hover:font-bold;
    }
    .nav-bar__link--active{
        @apply bg-gray-300 rounded-lg font-bold;
    }
    .button, .sign-up__button, .newsletter__button, .plans__button, .impressions__button{
        @apply bg-primary max-w-min rounded-lg text-white font-bold text-center px-6 py-2 whitespace-nowrap;

    }
    .button--light, .newsletter__button, .plans__button--light{
        @apply bg-white text-primary;
    }
    .plans__button--light{
        @apply bg-transparent;
    }
    .button--outline{
        @apply border-2 border-blue-100;
    }

    /* title & description layout */
    .title, .sign-up__title, .plans__title, .plan-card__title, .FAQ__title, .question-card__title, .feature-card__title, .impressions__title, .discovery__title{
        @apply text-5xl font-bold text-primary;
    }
    .title--pre, .sign-up__title{
        @apply whitespace-pre 
    }
    .title--larger{
        @apply text-2xl; 
    }
    .title--large, .question-card__title, .feature-card__title{
        /* @apply text-3xl;  */
        font-size: 32px;
        line-height: 120%;
    }
    .title--superlarge, .plans__title--superlarge, .plan-card__title{
        /* @apply text-4xl;  */
        font-size: 48px;
    }
    .title--gradient{
        @apply bg-gradient-to-r from-blue-600 to-blue-200 bg-clip-text text-transparent max-w-max;
    }
    .description, .sign-up__description,.plan-card__description, .plans__description, .FAQ__description, .question-card__description, .feature-card__description, .specifications__description, .impressions__description{
        @apply text-base;
    }

    .description--large, .specifications__description{
        @apply text-xl;
    }
    .description--pre, .plans__description, .plan-card__description{
        @apply whitespace-pre-line;
    }

    .l-sign-up
    {
        @apply text-center grid content-center justify-items-center gap-8 py-24 bg-gradient-to-t from-green-200 via-blue-100;
    }

    /* footer */
    .l-footer{
        @apply bg-b py-8 px-16 text-white;
    }
    .footer__links{
        @apply grid grid-flow-col gap-12;
        
    }
    .links{
        @apply flex text-left flex-col gap-2 ;
        
    }
    .links__link
    {
        @apply text-white text-sm font-light opacity-60;
    }
    .links__link--bolded{
        @apply font-bold text-lg mb-2 opacity-100; 
    }
    
    .form, .newsletter__form{
        @apply flex bg-b max-w-min;
    }
    .form--light{
        @apply bg-white rounded-lg;
    }
    .form__input, .newsletter__input{
        @apply  bg-[#2B2E3C] text-sm px-2 capitalize rounded-md;
    }
    .form__input--light{
        @apply bg-white; 
    }
    .form__input--large{
        @apply w-72
    }
    .form__button{
        @apply inline-block;
    }
    .newsletter__footer{
        @apply leading-7 text-sm text-white mb-16;
    
    }

    /* the copyright area */
    .l-bottom-row{
        @apply flex gap-4 items-center; 
    }
    .separator{
        @apply h-[2px] w-full bg-gray-400;
    }
    .socials{
        @apply flex h-auto w-full justify-center gap-4 items-center opacity-60;
    }
    .socials__icon{
        @apply w-3 h-4 object-contain;
    }
    .socials__text{
        @apply whitespace-nowrap
    }

}

body {
    font-family: 'Roboto';
}