@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .spotlight{
        @apply px-16 flex gap-16 pt-16;
        background-image: radial-gradient(farthest-corner at 80% 40%, rgb(222, 242, 251), rgb(235, 255, 250), white, white)
          
    }
    .spotlight__text{
        @apply grid content-center gap-8
    }
    .spotlight__buttons{
        @apply flex gap-4
    }

    /* features section */
    .product-features{
        @apply bg-gradient-to-r from-green-100 to-blue-100 pt-24;
    }
    .product-features__cards{
        @apply  rounded-tr-3xl mr-24 mt-8 p-8 gap-4 grid grid-cols-3 bg-white
    }
    .product-features__title{
        @apply title title--pre text-center;
    }
    
    /* insights * 4 */
    .insights{
        @apply px-16 mr-8 my-8 flex gap-8;
        background-image: radial-gradient(farthest-corner at 0 50%, rgb(222, 242, 251), rgb(235, 255, 250), white, white, white)
    }
    .insights__text{
        @apply w-1/2 grid content-center gap-6;
         
    }
    .insights__subtitle{
        @apply text-2xl font-bold text-primary bg-gradient-to-r from-blue-600 to-blue-200 bg-clip-text text-transparent max-w-max;
    }
    .insights__title{
        @apply text-4xl font-bold text-primary;
        font-size: 48px;
    }
    .insights__description{
        @apply text-base;
    }
    .insights__image
    {
        @apply p-8 w-1/2
    }
    .insights__picture{
        @apply w-full h-full object-cover;
    }

    
 

     /* lead-generation */
     .l-lead-generation{
        @apply px-16 my-8 flex gap-8;
        background-image: radial-gradient(farthest-corner at 100% 50%, rgb(222, 242, 251), rgb(235, 255, 250), white, white)
    }

    
}